.DS_Store

# Xcode
DerivedData/
build/
*.xcuserstate
*.xcuserdata/
*.moved-aside
*.xccheckout
*.xcscmblueprint

# SwiftPM
.swiftpm/
Packages/

# Firebase
GoogleService-Info.plist

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
